*{
    color: rgb(179, 180, 180);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "roboto";
}
.bg-container{
    background-color: #1F2937;
    
}
.nav-items{
    display: flex;
flex-direction: row;
justify-content: space-between;
}
li{
    list-style-type: none;
    list-style: none;
    font-weight: 600;
    font-size: 16px;

}

.Hero-section{
display: flex;
flex-direction: row;


}
p{
    font-size: medium;
}
button{
    color: #fff;
    background-color: royalblue;
    height: 40px;
    width: 120px;
    border: 1px royalblue solid;
    margin-left: 10px;
}
.car{height: 400px;
    width: 500px;
}
.sections1{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 40px;
}
.card{
    width: 200px;
    padding: 6px;
    border: 1px rgb(197, 198, 199) solid;
}
.car-imge{
    height: 150px;
    width: 150px;
    background-size: cover;
}
h1{
    content: center;
}